.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Jana Care Inc.
			&nbsp;2014

link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/style.css')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCuQbtsqD1m00iOIBaleneelpORqL59euE&sensor=false')
script(src='/js/bootstrap.min.js')
script(src="/js/main.js")

block footer
